@model IEnumerable<Nettbutikk.Model.ForHvem>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.navn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.navn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.forId  }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.forId })
        </td>
    </tr>
}

</table>
