@model IEnumerable<Nettbutikk.Model.ForHvem>


<table id="grupper" class="table">
    <tr>
        <th class="col-md-4">
            @Html.DisplayNameFor(model => model.navn)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.antallSko)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="col-md-4" data-forid="@item.forId" data-fornavn="@item.navn">
                @Html.DisplayFor(modelItem => item.navn)
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.antallSko)
            </td>
            <td>
                <a class='btn btn-default' onclick="redigerFor('@item.forId')">Rediger</a>
                @if (item.antallSko == 0)
                {
                    @Html.ActionLink("Slett", "Delete", new { id = item.forId }, new { @class = "btn btn-danger" });
                }
                else
                {
                    <label>Kan ikke slettes! (*)</label>
                }
            </td>
        </tr>
    }
</table>
<table class="table">
    <tr>
        <td class="col-md-5">
            <input id="nyFor" class="form-control" type="text" placeholder="Legg til en ny gruppe" />
        </td>
        <td>
            <button id="btnLeggTilFor" class="btn btn-success">Legg til</button>
            <label id="errorFor" class="text-danger"></label>
        </td>
    </tr>
    <tr>
        <td>* Alle grupper som er knyttet til en eller flere sko kan ikke slettes </td>
        <td></td>
    </tr>
</table>
<!-- Rediger - Modal -->
<div class="modal fade" id="redigerForModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Rediger gruppe</h4>
            </div>
            <div class="modal-body">
                <input id="redigertFor" class="form-control" type="text" data-id="" />
            </div>
            <div class="modal-footer">
                <label id="forModalError" class="col-md-12" ></label>
                <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button>
                <button type="button" class="btn btn-warning" onclick="lagreFor()">Lagre</button>
            </div>
        </div>
    </div>
</div>