@model List<Model.Nettbutikk.Kategori>


<table id="kategorier" class="table">
    <tr>
        <th class="col-md-4">
            @Html.DisplayNameFor(model => Model[0].navn)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => Model[0].antallSko)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="col-md-4" data-kategoriid="@item.kategoriId" data-kategorinavn="@item.navn">
                @Html.DisplayFor(modelItem => item.navn)
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.antallSko)
            </td>
            <td>
                <a class='btn btn-default' onclick="redigerKategori('@item.kategoriId')">Rediger</a>
                @if (item.antallSko == 0)
                {
                    <a class='btn btn-danger' onclick="slettKategoriModal('@item.kategoriId')">Slett</a>
                }
                else
                {
                    <label>Kan ikke slettes! (*)</label>
                }
            </td>
        </tr>
    }

</table>
<table class="table">
    <tr>
        <td class="col-md-5">
            <input id="nyKategori" class="form-control" type="text" placeholder="Legg til en ny kategori" />
        </td>
        <td>
            <button id="btnLeggTilKategori" class="btn btn-success">Legg til</button>
            <label id="errorKategori" class="text-danger"></label>
        </td>
    </tr>
    <tr>
        <td>* Alle kategorier som er knyttet til en eller flere sko kan ikke slettes </td>
        <td></td>
    </tr>
</table>
<!-- Rediger - Modal -->
<div class="modal fade" id="redigerKategoriModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Rediger kategori</h4>
            </div>
            <div class="modal-body">
                <input id="redigertKategori" class="form-control" type="text" data-id="" />
            </div>
            <div class="modal-footer">
                <label class="col-md-12" id="kategoriModalError"></label>
                <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button>
                <button type="button" class="btn btn-warning" onclick="lagreKategori()">Lagre</button>
            </div>
        </div>
    </div>
</div>
<!-- Slett - Modal -->
<div class="modal fade" id="slettKategoriModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Slett kategori</h4>
            </div>
            <div class="modal-body">
                <h4 class="text-danger">Er du sikker på at du vil slette <span id="slettKategori" data-id=""></span>?</h4>
            </div>
            <div class="modal-footer">
                <label id="slettKategoriModalError" class="col-md-12"></label>
                <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button>
                <button type="button" class="btn btn-danger" onclick="slettKategori()">Slett</button>
            </div>
        </div>
    </div>
</div>