@model IEnumerable<Nettbutikk.Model.Merke>

<table id="merker" class="table">
    <tr>
        <th class="col-md-4">
            @Html.DisplayNameFor(model => model.navn)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.antallSko)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="col-md-4" data-merkeid="@item.merkeId" data-merkenavn="@item.navn">
                @Html.DisplayFor(modelItem => item.navn)
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.antallSko)
            </td>
            <td>
                <a class='btn btn-default' onclick="redigerMerke('@item.merkeId')">Rediger</a>
                @if (item.antallSko == 0)
                {
                    <a class='btn btn-danger' onclick="slettMerkeModal('@item.merkeId')">Slett</a>
                }
                else
                {
                    <label>Kan ikke slettes! (*)</label>
                }
            </td>
        </tr>
    }

</table>
<table class="table">
    <tr>
        <td class="col-md-5">
            <input id="nyMerke" class="form-control" type="text" placeholder="Legg til et nytt merke" />
        </td>
        <td>
            <button id="btnLeggTilMerke" class="btn btn-success">Legg til</button>
            <label id="errorMerke" class="text-danger"></label>
        </td>
    </tr>
    <tr>
        <td>* Alle merker som er knyttet til en eller flere sko kan ikke slettes </td>
        <td></td>
    </tr>
</table>
<!-- Rediger - Modal -->
<div class="modal fade" id="redigerMerkeModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Rediger merke</h4>
            </div>
            <div class="modal-body">
                <input id="redigertMerke" class="form-control" type="text" data-id="" />
            </div>
            <div class="modal-footer">
                <label id="merkeModalError" class="col-md-12" ></label>
                <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button>
                <button type="button" class="btn btn-warning" onclick="lagreMerke()">Lagre</button>
            </div>
        </div>
    </div>
</div>
<!-- Slett - Modal -->
<div class="modal fade" id="slettMerkeModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Slett merke</h4>
            </div>
            <div class="modal-body">
                <h4 class="text-danger">Er du sikker på at du vil slette <span id="slettMerke" data-id=""></span>?</h4>
            </div>
            <div class="modal-footer">
                <label id="slettMerkeModalError" class="col-md-12"></label>
                <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button>
                <button type="button" class="btn btn-danger" onclick="slettMerke()">Slett</button>
            </div>
        </div>
    </div>
</div>
