@model Nettbutikk.Model.Skoen

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Liste</title>
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnLeggTil').click(function () {

                var id = $('#lblSkoId').data('skoid');
                var str = parseInt($('#storlekar').find(":selected").text());
                console.log($('#storlekar').val());

                if ($("#storlekar").val() == "") {
                    $('#Resultat').addClass("text-danger");
                    $('#Resultat').text("Du må velge skostørrelse!");
                    return;
                }

                $.ajax({
                    url: '@Url.Action("LeggTil", "Handlevogn")',
                    data: { skoId: id, skoStr: str },
                    success: function (){
                        window.location.replace("@Url.Action("Index","Handlevogn")");
                    },
                    error: function () {
                        $('#Resultat').addClass("text-danger")
                        $('#Resultat').text("Feil under legging i handlevogn!");
                    }
                });
            });
        });

    </script>
</head>
<body>
    <div>
        <h3>@Html.DisplayFor(model => model.navn)</h3>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-12">
                    @if (Model != null)
                    {
                        foreach (var bilde in Model.bilder)
                        {
                            if (bilde.bildeUrl.Contains("/Stor/"))
                            {
                                <img src="@Html.DisplayFor(modelItem => bilde.bildeUrl)" class="img-responsive" />
                                break;
                            }
                        }
                    }
                </div>
            </div>

            <div class="col-md-2">
                @if (Model != null)
                {
                    foreach (var bilde in Model.bilder)
                    {
                        if (bilde.bildeUrl.Contains("/Medium/"))
                        {
                            <div class="col-md-12">
                                <img src="@Html.DisplayFor(modelItem => bilde.bildeUrl)" class="img-responsive" />
                            </div>
                        }
                    }
                }
            </div>
            <div class="col-md-4">
                <label id="lblSkoId" data-skoid="@Model.skoId"></label>
                <h2><b>@Model.pris ,-</b></h2>
                <h3>@Model.merke</h3>
                <p><b>@Html.DisplayNameFor(modelItem => Model.beskrivelse):</b></p>
                <p>@Model.beskrivelse</p><p><b>@Html.DisplayNameFor(modelItem => Model.storlekar):</b></p>
                <!--TODO - Sett en defaultverdi som ikke er godkjent. Legg inn sjekk for om man har valgt ett skonummer og gi tilbakemelding.-->
                @Html.DropDownListFor(modelItem => Model.storlekar, new SelectList(Model.storlekar, "StorlekId", "Storlek"),"Velg størrelse")
                <br /><br />
                <button id="btnLeggTil" type="button" class="btn btn-success">Legg i handlevogn</button>
                <br />
                <label id="Resultat" ></label>
            </div>
        </div>
    </div>

</body>
</html>