@model Nettbutikk.Models.Skoen

<div>
    <h4>@Html.DisplayNameFor(model => model.navn)</h4>
    <hr />
    <div class="col-md-8">
        <div class="col-md-12">
            @foreach (var bilde in Model.bilder)
            {
                if (bilde.BildeUrl.Contains("/Stor/"))
                {
                    <img src="@Html.DisplayFor(modelItem => bilde.BildeUrl)" />
                    break;
                }
            }
        </div>
    </div>

    <div class="col-md-2">
        @foreach (var bilde in Model.bilder)
        {
            @if (bilde.BildeUrl.Contains("/Medium/"))
            {
                <div class="col-md-12">
                    <img src="@Html.DisplayFor(modelItem => bilde.BildeUrl)" />
                </div>
            }
        }
    </div>
    <div class="col-md-2">
        <p>@Model.pris</p>
        <p>@Model.merke</p>
        <p>@Model.kategori</p>
        <p>@Model.beskrivelse</p>
    </div>

</div>

<p>

</p>
