<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="~/Pictures/Icon/shoe-icon.png" />
    <title>Skobutikken</title>
</head>
<body style="padding-top: 60px; padding-bottom: 60px">
    <div class="navbar navbar-inverse navbar-fixed-top clearfix" style="margin-bottom: 40px">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Skobutikken", "Hjem", "Nettbutikk", new { tom = "" }, new { @class = "navbar-brand" })

            </div>
            <div class="navbar-collapse collapse">
                <ul class="navbar navbar-nav">
                    <li></li>
                    <li></li>
                    <li></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("Index","Handlevogn")"><span class="glyphicon glyphicon-shopping-cart"></span> Handlevogn</a></li>
                    @if (Session["LoggetInn"] != null && (bool)Session["LoggetInn"])
                    {
                        <li><a href="@Url.Action("DetaljerKunde","Kunde")"><span class="glyphicon glyphicon-user"></span> @Session["Kundenavn"]</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("RegistrerKunde","Kunde")"><span class="glyphicon glyphicon-user"></span> Registrer deg</a></li>
                    }
                    @if (Session["LoggetInn"] != null && (bool)Session["LoggetInn"])
                    {
                        <li><a href="@Url.Action("LoggUtKunde","Kunde")"><span class="glyphicon glyphicon-log-out"></span> Logg av</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("LoggInnKunde","Kunde")"><span class="glyphicon glyphicon-log-in"></span> Logg på</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        
        <footer class="navbar navbar-fixed-bottom" style="background-color: #fff; border-top-color: #ddd">
            <p><center>&copy;Mappeoppgave i Webaplikasjoner for Adrian Westlund og Hallbjørn Storruste</center></p>
        </footer>
    </div>
    
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</body>
</html>
