<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />   
    <title>DetaljerKunde</title>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#endrePassord').click(function () {
                var id = $('#passordId').val();
                var gammel = $('#gammeltPassord').val();
                var nytt = $('#nyttPassord').val();
                var bekreft = $('#bekreftPassord').val();

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("RedigerKundePassord", "Kunde")',
                    data: {
                        passordId: id,
                        gammeltPassord: gammel,
                        nyttPassord: nytt,
                        bekreftPassord: bekreft
                    },
                    success: function (data) {
                        if (data > 0) {
                            $(labelPassord).removeClass("text-danger");
                            $(labelPassord).text("Passordet er endret");
                            $('#gammeltPassord').val("");
                            $('#nyttPassord').val("");
                            $('#bekreftPassord').val("");
                        }
                        else {
                            $(labelPassord).addClass("text-danger");
                            $(labelPassord).text("Gammelt passord ikke gyldig! Passord ble ikke endret");
                        }
                    },
                    error: function () {
                        $(labelPassord).addClass("text-danger");
                        $(labelPassord).text("Feil! Kunne ikke endre passord");
                    }
                });
            });

            $('a[data-ordreId]').click(function(){
                var id = $(this).text();
                var url = "@Url.Action("getOrdreDetaljer", "Kunde")" + "?ordreId=" + id;
                console.log(url);
                $('#detaljModal').load(url,lastModal());
                
            });

            function lastModal() {
                $('#modalTrigger').click();
            }
        });
    </script>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4> @Session["Kundenavn"]</h4>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Endre personalia</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            @Html.Action("RedigerKunde", "Kunde", new { id = Session["InnloggetKundeId"] })
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Endre passord</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            @Html.Action("RedigerKundePassord", "Kunde", new { passordId = Session["InnloggetKundePassordId"] })
                            <label id="lblPassordId" data-passordId="@Session["InnloggetKundePassordId"]"></label>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Ordrehistorikk</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            @Html.Action("OrdrehistorikkKunde", "Kunde", new { id = Session["InnloggetKundeId"] })
                        </div>
                        <div id="test"></div>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
</html>
