<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />   
    <title>DetaljerKunde</title>
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#endrePassord').click(function () {
                var id = $('#lblPassordId').data('passordId');

                $.ajax({
                    type: "POST ",
                    url: '@Url.Action("RedigerKundePassord", "Kunde")',
                    data: { passordId: id },
                    success: function (data) {
                        window.location.reload();
                        $(labelPassord).text("Passordet er endret");
                    },
                    error: function () {
                        $(labelPassord).text("Feil! Kunne ikke endre passord");
                    }
                });
            });
        });
    </script>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4> @Session["Kundenavn"]</h4>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Endre personalia</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            @Html.Action("RedigerKunde", "Kunde", new { id = Session["InnloggetKundeId"] })
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Endre passord</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            @Html.Action("RedigerKundePassord", "Kunde", new { passordId = Session["InnloggetKundePassordId"] })
                            <label id="lblPassordId" data-passordId="@Session["InnloggetKundePassordId"]"></label>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Ordrehistorikk</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
</html>
