@model Nettbutikk.Models.RedigerKundePassordModell

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.passordId)
            
        <div class="form-group">
            @Html.LabelFor(model => model.gammeltPassord, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.gammeltPassord, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.gammeltPassord, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nyttPassord, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.nyttPassord, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nyttPassord, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.bekreftPassord, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.bekreftPassord, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.bekreftPassord, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                <input id="endrePassord" type="submit" value="Lagre" class="btn btn-success" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                <p id="labelPassord"></p>
            </div>
        </div>

    </div>
}

