@model Model.Nettbutikk.Skoen

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detaljer</title>
    <script type="text/javascript">
        $(document).ready(function () {


            $('#btnPris').click(function () {
                var skoId = $(this).data("id");
                var url = "@Url.Action("Prishistorikk", "SkoAdmin")" + "/?skoId=" + skoId;
                $('#prisModal').load(url, visPriser());

            });

            function visPriser() {
                $('#prisModalTrigger').click()
            }

            $('.btn-gjenopprettSko').click(function () {
                var tag = $(this);
                var skoId = tag.data("id");

                $.ajax({
                    url: '@Url.Action("Gjenopprett","SkoAdmin")',
                    data: { skoId: skoId },
                    type: 'POST',
                    success: function (data) {
                        window.location.href = '@Url.Action("Index","SkoAdmin")';
                    },
                    error: function (err) {

                    }
                });
            });
        });

        function slettSko() {
            var skoId = $('#slettSko').data("id");
            $.ajax({
                url: '@Url.Action("Slett","SkoAdmin")',
                data: { skoId: skoId },
                type: 'POST',
                success: function (data) {
                    window.location.href = '@Url.Action("Index","SkoAdmin")';
                },
                error: function (err) {
                    $('#slettSkoModalError').text("Noe gikk galt! Kunne ikke slette skoen.");
                }
            });
        }
    </script>
</head>
<body>
    <div class="container">
        <h4 class="text-center">Detaljer - @Html.DisplayFor(model => model.navn)</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.navn)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.navn)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.merke)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.merke)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.farge)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.farge)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.kategori)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.kategori)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.forHvem)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.forHvem)
            </dd>
            
            <dt>
                @Html.DisplayNameFor(model => model.storlekar)
            </dt>

            <dd>
                @foreach(var item in Model.storlekar) { 
                    @Html.DisplayFor( modelItem => item.storlek) <span>  </span>
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.pris)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.pris)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.beskrivelse)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.beskrivelse)
            </dd>
    
        </dl>
    </div>
    <p class="text-center row">
        @Html.ActionLink("<< Tilbake", "Index", new { }, new { @class = "btn btn-default col-md-2 col-md-offset-1", @onClick = "history.go(-1);return true;" })
        <a class="btn btn-default col-md-2" data-toggle="modal" data-target="#bildeModal">Vis bilder ( @Model.bilder.Count )</a>
        <a class="btn btn-default col-md-2" id="btnPris" data-id="@Model.skoId">Prishistorikk</a>
        @Html.ActionLink("Rediger", "Edit", new { id = Model.skoId }, new { @class = "btn btn-warning col-md-2" })
        @if (!Model.slettet) {
            <a class="btn btn-danger col-md-2" data-toggle="modal" data-target="#slettSkoModal">Slett</a>
        }
        else
        {
            <a class="btn btn-warning col-md-2 btn-gjenopprettSko" data-id="@Model.skoId">Gjenopprett</a>
        }
    </p>

    <!-- BildeModal -->
    <div class="modal fade" id="bildeModal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">@Html.DisplayFor(model => model.navn)</h4>
                </div>
                <div class="modal-body">
                    
                    <div id="bildeCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            @for( var i = 0; i < Model.bilder.Count; ++i)
                            {
                                if(i == 0) {
                                    <li data-target="#myCarousel" data-slide-to="@i" class="active"></li>
                                }
                                else
                                {
                                    <li data-target="#myCarousel" data-slide-to="@i"></li>
                                }
                            }
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            @for (var i = 0; i < Model.bilder.Count; ++i)
                            {
                                <div class="item @if (i == 0){ var cl = "active";  @cl  }"> 
                                    <img class="center-block" src="@Model.bilder[i].bildeUrl" alt="@Model.bilder[i].bildeUrl">
                                    <div class="carousel-caption">
                                        <p>@Model.bilder[i].bildeUrl</p>
                                    </div>
                                </div>
                            }
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#bildeCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#bildeCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default center-block" data-dismiss="modal">Lukk</button>
                </div>
            </div>

        </div>
    </div>

    <a id="prisModalTrigger" data-toggle="modal" data-target="#prisModal"></a>
    <!-- Modal -->
    <div class="modal fade" id="prisModal" role="dialog"></div>
    <!-- Slett - Modal -->
    <div class="modal fade" id="slettSkoModal" role="dialog">
        @Html.Partial("SlettModal", Model)
    </div>
</body>
</html>
