<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>


    <script type="text/javascript">
        $(document).ready(function () {


            $('.btn-sletteSko').click( function () {
                var skoId = $(this).data("id");
                var navn = $(this).data("navn");
                var url = '@Url.Action("SlettModal","SkoAdmin")';
                
                $('#slettSkoModal').load(url, { skoId: skoId, navn: navn }, openSlettSkoModal());

                function openSlettSkoModal() {
                    $('#slettSkoModal').modal();
                }
            });

            $('.btn-gjenopprettSko').click(function () {
                var tag = $(this);
                var skoId = tag.data("id");

                $.ajax({
                    url: '@Url.Action("Gjenopprett","SkoAdmin")',
                    data: { skoId: skoId },
                    type: 'POST',
                    success: function (data) {
                        tag.parent().parent().remove();
                    },
                    error: function (err) {

                    }
                });
            });
        });

        function slettSko() {
            var skoId = $('#slettSko').data("id");
            $.ajax({
                url: '@Url.Action("Slett","SkoAdmin")',
                data: { skoId: skoId },
                type: 'POST',
                success: function (data) {
                    window.location.href = '@Url.Action("Index","SkoAdmin")';
                },
                error: function (err) {
                    $('#slettSkoModalError').text("Noe gikk galt! Kunne ikke slette skoen.");
                }
            });
        }
    </script>
</head>
<body>
    <div> 
        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a data-toggle="tab" href="#skoliste">Skoliste</a></li>
            <li><a data-toggle="tab" href="#slettetliste">Slettede sko</a></li>
            <li><a data-toggle="tab" href="#nysko">Legg til ny</a></li>
        </ul>
        <p class="text-center text-danger">@ViewBag.Feil</p>
        <div class="tab-content">
            <div id="skoliste" class="tab-pane fade in active">
                <h3 class="text-center">Skoliste</h3>
                @Html.Action("SkoListe","SkoAdmin")
            </div>
            <div id="slettetliste" class="tab-pane fade">
                <h3 class="text-center">Slettede sko</h3>
                @Html.Action("SlettedeSkoListe", "SkoAdmin")
            </div>
            <div id="nysko" class="tab-pane fade">
                <h3 class="text-center">Ny sko</h3>
                <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            </div>
        </div>
        <!-- Slett - Modal -->
        <div class="modal fade" id="slettSkoModal" role="dialog">
        </div>
    </div>
</body>
</html>
