@model List<Nettbutikk.Areas.Admin.Models.SkoListeElement>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => Model[0].navn)
        </th>
        <th>
            @Html.DisplayNameFor(model => Model[0].merke)
        </th>
        <th>
            @Html.DisplayNameFor(model => Model[0].kategori)
        </th>
        <th>
            @Html.DisplayNameFor(model => Model[0].forHvem)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.navn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.merke)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kategori)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.forHvem)
            </td>
            <td>
                @Html.ActionLink("Detaljer", "Detaljer", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Gjenopprett", "Gjenopprett", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
