@model Model.Nettbutikk.Ordre

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ordreDato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.totalBelop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kundeNavn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adresse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.postnr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.poststed)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Kunder</a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                @if (Model.varer != null && Model.varer.Count > 0)
                {
                    <table class="table">
                        <tr class="panel-heading">
                            <th>@Html.DisplayNameFor(modelItem => Model.varer[0].bildeUrl)</th>
                            <th>Produktinformasjon</th>

                            <th>@Html.DisplayNameFor(modelItem => Model.varer[0].storlek)</th>
                            <th>@Html.DisplayNameFor(modelItem => Model.varer[0].pris)</th>
                            </tr>

                            @foreach (var vare in Model.varer)
                            {
                                <tr>
                                    <td><a href="@Url.Action("Detaljer", "Sko", new { skoId = vare.skoId })"><img src="@Html.DisplayFor(modelItem => vare.bildeUrl)" class="img-responsive" /></a></td>
                                    <td>
                                        <a href="@Url.Action("Detaljer", "Sko", new { skoId = vare.skoId })"><strong>@Html.DisplayFor(modelItem => vare.skoNavn)</strong></a>
                                        <br />@Html.DisplayFor(modelItem => vare.merke)
                                        <br /><i>@Html.DisplayFor(modelItem => vare.farge)</i>
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => vare.storlek)</td>
                                    <td>@Html.DisplayFor(modelItem => vare.pris)</td>

                                </tr>
                            }

                            <tr class="panel-footer">
                                <td></td>
                                <td></td>
                                <td>@Html.DisplayNameFor(model => model.totalBelop)</td>
                                <td>@Html.DisplayFor(model => model.totalBelop)</td>

                            </tr>
                            <tr class="panel-footer">
                                <td></td>
                                <td></td>
                                <td><small>Herav mva:</small></td>
                                <td>
                                    @{decimal mva = Model.totalBelop - System.Decimal.Divide(Model.totalBelop, 1.25M); }
                                    <small>@mva</small>
                                </td>
                            </tr>
                        </table>
                }
                else
                {
                    <div class="text-center"><h3><b>Det finnes ingen ordre</b></h3></div>
                }
            </div>
        </div>
    </div>
}
