<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <title>Hjem</title>
</head>
<body>
    <div>
        <h2 class="text-center">
            Velkommen til Admin!
        </h2>
        <hr />
        <div class="panel-group col-md-12">
            <div class="row">
                <!--Ruta 1 (Kunder)-->
                <div class="col-md-4" style="padding:0px">
                    <div class="panel panel-default text-center col-md-12 ruta">
                        <a href="@Url.Action("Index","KundeAdmin")">
                            <div class="panel-body col-md-12 clearfix">
                                <img src="~/Pictures/Admin/grp.png">
                                <div class="col-md-12 ">
                                    <h3 class="ruta-text">Kunder</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!--Ruta 2 (Sko)-->
                <div class="col-md-4" style="padding:0px">
                    <div class="panel panel-default text-center col-md-12 ruta">
                        <a href="@Url.Action("Index","SkoAdmin")">
                            <div class="panel-body col-md-12 clearfix">
                                <img src="~/Pictures/Admin/shoe.png">
                                <div class="col-md-12 ">
                                    <h3 class="ruta-text">Sko</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!--Ruta 3 (Ordre)-->
                <div class="col-md-4" style="padding:0px">
                    <div class="panel panel-default text-center col-md-12 ruta">
                        <a href="@Url.Action("Index","Ordre")">
                            <div class="panel-body col-md-12 clearfix">
                                <img src="~/Pictures/Admin/ordre.png">
                                <div class="col-md-12 ">
                                    <h3 class="ruta-text">Ordre</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <!--Ruta 4 (For/Kategori/Merke)-->
                <div class="col-md-4" style="padding:0px">
                    <div class="panel panel-default text-center col-md-12 ruta">
                        <a href="@Url.Action("Index","Attributt")">
                            <div class="panel-body col-md-12 clearfix">
                                <img src="~/Pictures/Admin/settings.png">
                                <div class="col-md-12 ">
                                    <h3 class="ruta-text">Attributter</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!--Ruta 5 (Lager)-->
                <div class="col-md-4" style="padding:0px">
                    <div class="panel panel-default text-center col-md-12 ruta">
                        <a href="@Url.Action("Detaljer","Admin")">
                            <div class="panel-body col-md-12 clearfix">
                                <img src="~/Pictures/Admin/truck.png">
                                <div class="col-md-12 ">
                                    <h3 class="ruta-text">Lager</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!--Ruta 6 (Admin)-->
                <div class="col-md-4" style="padding:0px">
                    <div class="panel panel-default text-center col-md-12 ruta">
                        <a href="@Url.Action("Detaljer","Admin")">
                            <div class="panel-body col-md-12 clearfix">
                                <img src="~/Pictures/Admin/lock.png">
                                <div class="col-md-12 ">
                                    <h3 class="ruta-text">Admin</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
