<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hjem</title>
</head>
<body>
    <div>
        <h2 class="text-center">
            Velkommen til Admin!
        </h2>
        <hr />
        <div class="panel-group col-md-12">
            <div class="row">
                <!--Ruta 1 (Kunder)-->
                <div class="col-md-4" style="padding:0px">
                    <div class="panel panel-default text-center col-md-12">
                        <a href="@Url.Action("Detaljer","Admin")">
                            <div class="panel-body col-md-12 clearfix">
                                <span class="glyphicon glyphicon-user"></span>
                                <div class="col-md-12 ">
                                    Kunder
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!--Ruta 2 (Sko)-->
                <div class="col-md-4" style="padding:0px">
                    <div class="panel panel-default text-center col-md-12">
                        <a href="@Url.Action("Detaljer","Admin")">
                            <div class="panel-body col-md-12 clearfix">
                                <span class="glyphicons glyphicons-shoes"></span>
                                <div class="col-md-12 ">
                                    Sko
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!--Ruta 3 (Ordre)-->
                <div class="col-md-4" style="padding:0px">
                    <div class="panel panel-default text-center col-md-12">
                        <a href="@Url.Action("Detaljer","Admin")">
                            <div class="panel-body col-md-12 clearfix">
                                <span class="glyphicons glyphicons-list-alt"></span>
                                <div class="col-md-12 ">
                                    Ordre
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <!--Ruta 4 (For/Kategori/Merke)-->
                <div class="col-md-4" style="padding:0px">
                    <div class="panel panel-default text-center col-md-12">
                        <a href="@Url.Action("Index","Attributt")">
                            <div class="panel-body col-md-12 clearfix">
                                <span class="glyphicons glyphicons-settings"></span>
                                <div class="col-md-12 ">
                                    For/Kategori/Merke
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!--Ruta 5 (Lager)-->
                <div class="col-md-4" style="padding:0px">
                    <div class="panel panel-default text-center col-md-12">
                        <a href="@Url.Action("Detaljer","Admin")">
                            <div class="panel-body col-md-12 clearfix">
                                <span class="glyphicons glyphicons-truck"></span>
                                <div class="col-md-12 ">
                                    Lager
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!--Ruta 6 (Rediger Admin)-->
                <div class="col-md-4" style="padding:0px">
                    <div class="panel panel-default text-center col-md-12">
                        <a href="@Url.Action("Detaljer","Admin")">
                            <div class="panel-body col-md-12 clearfix">
                                <span class="glyphicons glyphicons-skull"></span>
                                <div class="col-md-12 ">
                                    Rediger Admin
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
