@model Nettbutikk.Models.Ordre

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Betaling</title>
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnSend').click(function () {
                $.ajax({
                    url: '@Url.Action("SendOrdre", "Handlevogn")',
                    success: function () {
                        window.location.replace("@Url.Action("Kvittering","Handlevogn")");
                    },
                    error: function () {
                        $('#lblError').text("NOE GIKK GALT! Kunne ikke sende ordre.");
                    }
                });
            });
        });

    </script>
</head>
<body>
    <div>
        <label id="lblError" class="text-center text-danger"></label>
        <h3>Velkommen til kassen</h3>
        <hr />
        <h4>Kontaktinformasjon</h4>
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.kundeNavn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.kundeNavn)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.adresse)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.adresse)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.postnr)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.postnr)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.poststed)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.poststed)
            </dd>

        </dl>
        <hr />

        <h4>Velg betalingsmåte: </h4><!--Eneste faktura som er mulig å velge siden den ikke er knyttet opp mot noen betalingstjeneste.-->
        <input id="faktura" type="radio" name="betalingsmåte" value="Faktura" checked/>
        <label for="faktura">Faktura</label><br />
        <input id="visa" type="radio" name="betalingsmåte" value="Visa" disabled/>
        <label for="visa">Visa <em>(Ikke tilgjengelig!)</em></label>

        <hr />
        
        <strong>@Html.DisplayNameFor(model => model.ordreDato)</strong>
        @Html.DisplayFor(model => model.ordreDato)
        @Html.Partial("OrdreVarer", Model)
        <div class="row pull-right">
            @Html.ActionLink("Tilbake til handlevognen", "Index", new { }, new {@class = "btn btn-default" })
            <a id="btnSend" href="#" class="btn btn-success">Send</a>
        </div>
        </div>
    </body>
</html>
