@model Nettbutikk.Models.Ordre

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kvittering</title>
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: "@Url.Action("SlettHandlevognVarer","Handlevogn")",
                success: function(){
                   
                },
                error: function () {
                    $('#lblError').css('display', 'inline')
                    $('#lblError').text("Kunne ikke slette varene i handlevognen!");
                }
            });
        });
    </script>
</head>
<body>
    <div>
        <h3>Kvittering</h3>
        <label id="lblError" class="text-danger" style="display: none;"></label>
        <hr />
        <div class="row">
            <div class="col-md-6 text-left">
                <strong>
                    Bestillingsdato :
                </strong>
                @Html.DisplayFor(model => model.ordreDato.Date.Date)
            </div>
            <div class="col-md-6 text-right">
                <strong>
                    @Html.DisplayNameFor(model => model.ordreId) :
                </strong>
                @Html.DisplayFor(model => model.ordreId)
            </div>
        </div>
        <hr />
        <div >
            <h4>Leveringsadresse</h4>
            <dl class="dl-horizontal" >

                <dt>
                    @Html.DisplayNameFor(model => model.kundeNavn)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.kundeNavn)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.adresse)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.adresse)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.postnr)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.postnr)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.poststed)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.poststed)
                </dd>

            </dl>
        </div>
        <hr />
        @Html.Partial("OrdreVarer", Model)
    </div>
    <p>
        @Html.ActionLink("Fortsett å handle", "Hjem","Nettbutikk")
    </p>
</body>
</html>
